:root{
    --floatPaddingBottom: 10px;
    --floatPaddingRight: 20px;
    --iconImageSize: 60px;
    --roundedBtnSize: 40px;
    --btnGreen: #146c43;
    --violet: #743ad5;
    --pink: #d53a9d;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
}

.bottomDiv{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.floatingActionDiv{
    display: flex;
    position: fixed;
    bottom: var(--floatPaddingBottom);
    right: var(--floatPaddingRight);
}

.floatingActionBtn{
    margin: 5px;
    width: var(--roundedBtnSize);
    height: var(--roundedBtnSize);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* bottom: var(--floatPadding); */
    /* right: var(--floatPadding) */
}

.btnImage{
    max-width: var(--iconImageSize);
    max-width: var(--iconImageSize);
}

.backBtn {
    position: absolute;
    top: var(--floatPaddingRight);
    left: var(--floatPaddingRight);
    border-radius: 100%;
    width: var(--roundedBtnSize);
    height: var(--roundedBtnSize);
}

.centerDiv{
    margin: 10px;
    justify-content: center;
    display: flex;
}

hr{
    color: white;
}

.tag {
    background-color: rgba(255, 0, 0, 0);
}

.tag .active { 
    background-color: var(--btnGreen);
}

.fa-tag{
    margin-left: 5px;
}

.gameCard{
    color: white;
}

.floatingActionBtn{
    background-color: var(--violet);
}

.floatingActionBtn:hover{
    background-color: var(--pink);
}

.cardTitle{
    display: flex;
    justify-content: space-between;
}

.infoUserImg{
    border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

.detailUserInfo{
    display: flex;
    align-items: center;
}

.userContacts{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.whatsapp {
    color: rgb(0, 177, 0);
}

.whatsapp:hover{
    color: greenyellow;
}

.facebook {
    color: #2d99ff;
}

.facebook:hover{
    color: #234da8;
}

.instagram {
    color: #cc2366;
}

.instagram:hover{
    color: #f09433;
}